/* a style like this should never apply in IE. If it does, tests will fail */
@media screen and (view-mode: minimized) {
	
}
@media (min-width: 320px) and (max-width:767px) {

}
@media (min-width: 1366px) and (max-width:1439px) {

}

@media (min-width: 992px) and (max-width:1365px) {
	.newsBoximg{
		background-position: 46% 100%;
	}
	.listtextBox_tcity {
	    font-size: 14px;
	}
	.listtextBox_thotel {
	    font-size: 12px;
	    margin-top: 2px;
	}
	.listT1_name1 {
	    font-size: 18px;
	    line-height: 28px;
	    margin-bottom: 2px;
	    font-weight: bold;
	}
	.listT2 span {
	    font-size: 12px;
	    color: #333333;
	    line-height: 24px;
	}
	.listT2 {
	    margin-bottom: 14px;
	    margin-top: 10px;
	}
	.Boxlist_years_t1{
		font-size: 28px;
	}
	.Boxlist_years_t2 {
	    margin-top: 20px;
	}
	.newsBox_maintitle{
		padding: 16px 0px 16px 0px;
	}
	.Boxlist_years {
	    padding-bottom: 14px;
	    margin-bottom: 14px;
	}
	.Titlelist_Month_t4 {
	    margin-top: 0px;
	}
	.Titlelist_Month_t3 {
	    font-size: 12px;
	}
	.listtextBox {
	    padding: 12px 18px;
	}

}


@media (min-width: 1440px) and (max-width:1599px) {
	.Boxlist_years_t1{
		font-size: 36px;
	}
}

